
/* put your custom CSS in here */

#phpbbforum-page {
  padding: 0;
}

#phpbbforum-page #wrap {
  padding: 0;
}

#phpbbforum-node-comments {
  /*margin-top: 10px;*/
}

#phpbbforum-node-comments #page-header {
  display: none;
}

#phpbbforum-page #page-header {
  /*display: none;*/
}

#phpbbforum-page td.active {
  background: transparent;
}

#phpbbforum-page fieldset {
  background: transparent;
}

/**/

.block ul.menu,
.block .item-list ul {
  margin: 0.35em 0 0 1em;
  padding: 0;
}

ul li,
ul.menu li,
.item-list ul li,
li.leaf {
  background: none;
}

.block ul li, 
.block ul.menu li, 
.block .item-list ul li, 
.block li.leaf {
  list-style-type: none;
  padding: 0 0 .2em 0;
  background: none;
  list-style-image: url(/themes/garland/images/menu-leaf.gif);
}

.block ol li {
  padding: 0 0 .3em;
  margin-left: 2em;
}

.block ul li.expanded {
  background: none;
  list-style-image: url(/themes/garland/images/menu-expanded.gif);
}

.block ul li.collapsed {
  background: none;
  list-style-image: url(/themes/garland/images/menu-collapsed.gif);
}

ul li {
  padding: 0;
}

/**/

ul.linklist {
  padding: 0;
  margin: 0;
}

ul.topiclist {
  padding: 0;
  margin: 0;
}

ul.linklist li {/*common.css (line 307)*/
  display: block;
  float: left;
  font-size: 1.1em;
  line-height: 2.2em;
  list-style-type: none;
  margin-right: 5px;
  width: auto;

  margin-left: 0;
}

ul.topiclist li { /*content.css (line 14)*/
  display: block;
  list-style-type: none;
  margin: 0;

  padding: 0;
}

/*  */

ul.topiclist dd {
  border-left: 1px solid #FFFFFF;
  display: block;
  float: left;
  padding: 4px 0;

  margin: 0;
}

dd.posts, dd.topics, dd.views {
  font-size: 1.2em;
  line-height: 2.2em;
  text-align: center;
  width: 8%;
  margin: 0;
}

ul.topiclist li.row dl {
  padding: 2px 0;
  margin: 0;
}

dl.icon {
  margin: 0;
}

dl.file {
  margin: 0;
}

dl.attachbox dd {
  margin: 0;
}

#logo { /*common-embed.css (line 129)*/
  padding:0;
}

#wrapper #container #header h1,
#wrapper #container #header h1 a:link,
#wrapper #container #header h1 a:visited {
  line-height: 120px;
  position: relative;
  z-index: 2;
  white-space: nowrap;
  margin: 0;
}


.block h1, .block h2, .block h3, .block h4, .block h5, .block h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}

.block h2 {
  font-size: 160%;
  line-height: 130%;
}

.block  a:link, .block  a:visited {
  color: #027AC6;
  text-decoration: none;
}

.block  a:hover {
  color: #0062A0;
  text-decoration: underline;
}

.block  a:active, .block  a.active {
  color: #5895be;
}


/*********/
/* LISTS */
/*********/

.block .content ul {
  margin: 0.35em 0 0 1em;
  padding: 0;
}
/*
.block ol {
  margin: 0.75em 0 1.25em;
  padding: 0;
}
*/

.block ul.menu ul,
.block .item-list ul ul
{
  margin-left: 0;
}

.block .content,
div#container div#header {
  font-family: Verdana,sans-serif;
  font-size: 12px;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 170%;
}
